* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
}

ul {
  color: #fff;
}

.blur {
  position: absolute;
  box-shadow: 0 0 5000px 125px #c4b84f;
  z-index: -100;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #948c47;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #4b500c;
}

.conteiner {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.contenedor {
  width: 100%;
  margin: auto;
  padding: 5rem 2rem;
}

.derechosAutor {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 300px repeat(2, 1fr);
  gap: 40px;
}

.links a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}
.links a:hover {
  width: 70%;
}
.links a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #c4b84f;
  transition: all 0.3s ease;
}

main {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

nav {
  max-width: 5000px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: 0 0 10px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

/* Logo navbar */
.imagen-navbar {
  width: 8vh;
}

/* logo navbar */
/* NavBar */
.logo-navbar {
  max-width: 100px;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Finalizado navbar */
/* Footer */
.columna {
  text-align: center;
}

.logo {
  margin-left: 30%;
}

footer {
  max-width: 100%;
}
footer .columna .logo {
  max-width: 100px;
  display: flex;
  margin-bottom: 2rem;
  align-content: center;
  flex-direction: row;
}
footer .columna p {
  color: #ccc;
  margin-bottom: 2rem;
  justify-content: end;
}
footer .columna .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .columna .redes a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}
footer .columna .redes a:hover {
  color: #fff;
  background-color: #948c47;
  border-color: #948c47;
}
footer .columna h4 {
  color: #fff;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 500;
}
footer .columna > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}
footer .columna > a:hover {
  color: #948c47;
}

.contacto {
  color: #948c47;
  max-width: 5000px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px 0 #c4b84f;
}
.contacto > * {
  padding: 1em;
}
.contacto .formulario {
  background-color: #323232;
}
.contacto .formulario form {
  display: grid;
  grid-template-columns: 1 fr 1fr;
}
.contacto .formulario form .completo {
  grid-column: 1/3;
}
.contacto .formulario form p {
  margin: 0;
  padding: 1em;
}
.contacto .formulario form input, .contacto .formulario form button, .contacto .formulario form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #948c47;
}
.contacto .formulario form button {
  color: #000000;
  background: #948c47;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contacto .formulario form button:hover, .contacto .formulario form button:focus {
  color: #fff;
  background: #4b500c;
  transition: background-color 0.5s ease-out;
}
.contacto .formulario form .informacion {
  background-color: #000000;
}
.contacto .formulario form .informacion h4, .contacto .formulario form .informacion ul, .contacto .formulario form .informacion p {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contacto .formulario form .informacion ul {
  list-style: none;
  padding: 0;
}

.txtForm {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}
.txtForm span {
  color: #c4b84f;
}

@media (width > 900px) {
  .contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contacto > * {
    padding: 2em;
  }
  .contacto html {
    padding: 0;
  }
}
@media (width < 900px) {
  header {
    width: 100%;
  }
  body {
    width: 100%;
  }
  html {
    width: 100%;
  }
  .logo-navbar {
    display: none;
  }
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
  .contenedor .imagen {
    grid-area: 1/1/2/2;
  }
  .redes-multimedia {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Logo navbar */
.imagen-navbar {
  width: 8vh;
}

/* logo navbar */
/* NavBar */
.logo-navbar {
  max-width: 100px;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-nav {
  text-align: center;
}

/* Finalizado navbar */
/*main*/
.contenedor {
  position: relative;
  padding-top: 2rem;
  display: grid;
  align-items: center;
  gap: 2rem;
}
.contenedor .imagen-mia img {
  border-radius: 100%;
}
.contenedor .contenido h4 {
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1rem;
  font-weight: 600;
}
.contenedor .contenido h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}
.contenedor .contenido h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.contenedor .contenido p {
  margin-bottom: 2rem;
  color: #ccc;
}
.contenedor .imagen {
  position: relative;
}
.contenedor .imagen::before {
  width: auto;
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 20rem;
  color: #c4b84f;
  opacity: 0.2;
  z-index: -100;
}
.contenedor .imagen img {
  max-width: 600px;
  margin: auto;
}

section .main {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.logo-navbar {
  margin-left: 120px;
  border-radius: 100%;
  padding-left: 10px;
}

/* Finalizado de main */
/* Paneles de multimedia */
.redes-multimedia {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.redes-multimedia .tarjetas {
  background-color: #27272a;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.redes-multimedia .tarjetas h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.redes-multimedia .tarjetas span {
  display: inline-block;
  background-color: #948c47;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}
.redes-multimedia .tarjetas p {
  color: #ccc;
  margin-bottom: 1rem;
}
.redes-multimedia .tarjetas a {
  color: #fff;
  transition: all 0.3s ease;
}
.redes-multimedia .tarjetas a:hover {
  color: #c4b84f;
}
.redes-multimedia .tarjetas .card:hover {
  background-color: #323232;
  border-color: #fff;
}

/* Finalizado de paneles */
/* Footer */
.columna {
  text-align: center;
}

.logo {
  margin-left: 30%;
}

footer {
  max-width: 100%;
}
footer .columna .logo {
  max-width: 100px;
  display: flex;
  margin-bottom: 2rem;
  align-content: center;
  flex-direction: row;
}
footer .columna p {
  color: #ccc;
  margin-bottom: 2rem;
  justify-content: end;
}
footer .columna .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .columna .redes a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}
footer .columna .redes a:hover {
  color: #fff;
  background-color: #948c47;
  border-color: #948c47;
}
footer .columna h4 {
  color: #fff;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 500;
}
footer .columna > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}
footer .columna > a:hover {
  color: #948c47;
}

@media (width < 900px) {
  html {
    width: 100%;
  }
  .logo-navbar {
    display: none;
  }
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
  .contenedor .imagen {
    grid-area: 1/1/2/2;
  }
  .contenedor .imagen::before {
    font-size: 36rem;
  }
  .redes-multimedia {
    grid-template-columns: repeat(2, 1fr);
  }
  .conteiner {
    grid-template-columns: 1fr 200px;
  }
}
/* Logo navbar */
.imagen-navbar {
  width: 8vh;
}

/* logo navbar */
/* NavBar */
.logo-navbar {
  max-width: 100px;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Finalizado navbar */
.contenedor .imagen::before {
  content: "x";
}

/* Precios */
.redes-multimedia {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.redes-multimedia .tarjetas {
  background-color: #27272a;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.redes-multimedia .tarjetas span {
  display: inline-block;
  background-color: #948c47;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}
.redes-multimedia .tarjetas h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.redes-multimedia .tarjetas p {
  color: #ccc;
  margin-bottom: 1rem;
}
.redes-multimedia .tarjetas a {
  color: #fff;
  transition: all 0.3s ease;
}
.redes-multimedia .tarjetas a:hover {
  color: #948c47;
}
.redes-multimedia .card:hover {
  background-color: #323232;
  border-color: #fff;
}

/* Finalizado de precios */
/* Footer */
.columna {
  text-align: center;
}

.logo {
  margin-left: 30%;
}

footer {
  max-width: 100%;
}
footer .columna .logo {
  max-width: 100px;
  display: flex;
  margin-bottom: 2rem;
  align-content: center;
  flex-direction: row;
}
footer .columna p {
  color: #ccc;
  margin-bottom: 2rem;
  justify-content: end;
}
footer .columna .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .columna .redes a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}
footer .columna .redes a:hover {
  color: #fff;
  background-color: #948c47;
  border-color: #948c47;
}
footer .columna h4 {
  color: #fff;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 500;
}
footer .columna > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}
footer .columna > a:hover {
  color: #948c47;
}

@media (width < 900px) {
  body {
    width: 100%;
  }
  html {
    width: 100%;
  }
  .logo-navbar {
    display: none;
  }
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
  .contenedor .contenido h1 {
    text-align: center;
    font-size: 2.7rem;
    line-height: 3.5rem;
  }
  .contenedor .imagen {
    justify-self: center;
    width: 85%;
    grid-area: 1/1/2/2;
  }
  .contenedor .imagen::before {
    font-size: 33rem;
  }
  .redes-multimedia {
    grid-template-columns: repeat(1, 1fr);
  }
  .conteiner {
    grid-template-columns: 1fr 200px;
  }
}
/* Logo navbar */
.imagen-navbar {
  width: 8vh;
}

/* logo navbar */
/* NavBar */
.logo-navbar {
  max-width: 100px;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Finalizado navbar */
.contenedor {
  max-width: 1200px;
}
.contenedor .contenido p {
  color: #fff;
}
.contenedor .redes-multimedia .tarjetas {
  box-shadow: 0 0 20px 0 rgba(196, 184, 79, 0.3);
}

/* Footer */
.columna {
  text-align: center;
}

.logo {
  margin-left: 30%;
}

footer {
  max-width: 100%;
}
footer .columna .logo {
  max-width: 100px;
  display: flex;
  margin-bottom: 2rem;
  align-content: center;
  flex-direction: row;
}
footer .columna p {
  color: #ccc;
  margin-bottom: 2rem;
  justify-content: end;
}
footer .columna .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .columna .redes a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}
footer .columna .redes a:hover {
  color: #fff;
  background-color: #948c47;
  border-color: #948c47;
}
footer .columna h4 {
  color: #fff;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 500;
}
footer .columna > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}
footer .columna > a:hover {
  color: #948c47;
}

@media (width < 900px) {
  .logo-navbar {
    display: none;
  }
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
  .contenedor .imagen {
    grid-area: 1/1/2/2;
  }
  .redes-multimedia {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    grid-template-columns: 1fr 50%;
  }
}
/* Logo navbar */
.imagen-navbar {
  width: 8vh;
}

/* logo navbar */
/* NavBar */
.logo-navbar {
  max-width: 100px;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Finalizado navbar */
.contenedor .imagenTrabajo .job {
  text-align: center;
  width: 85%;
}
.contenedor .contenido {
  width: 100%;
}

.contenedor .redes-multimedia .tarjetaswork .laburo {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  justify-content: center;
}

.tarjetaswork {
  background-color: #27272a;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.tarjetaswork h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.tarjetaswork span {
  display: inline-block;
  background-color: #948c47;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}
.tarjetaswork p {
  color: #ccc;
  margin-bottom: 1rem;
}
.tarjetaswork a {
  color: #fff;
  transition: all 0.3s ease;
}
.tarjetaswork a:hover {
  color: #c4b84f;
}
.tarjetaswork .card:hover {
  background-color: #323232;
  border-color: #fff;
}

/* Footer */
.columna {
  text-align: center;
}

.logo {
  margin-left: 30%;
}

footer {
  max-width: 100%;
}
footer .columna .logo {
  max-width: 100px;
  display: flex;
  margin-bottom: 2rem;
  align-content: center;
  flex-direction: row;
}
footer .columna p {
  color: #ccc;
  margin-bottom: 2rem;
  justify-content: end;
}
footer .columna .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .columna .redes a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}
footer .columna .redes a:hover {
  color: #fff;
  background-color: #948c47;
  border-color: #948c47;
}
footer .columna h4 {
  color: #fff;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 500;
}
footer .columna > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}
footer .columna > a:hover {
  color: #948c47;
}

@media (width < 900px) {
  .logo-navbar {
    display: none;
  }
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
  .contenedor .imagen {
    grid-area: 1/1/2/2;
  }
  .redes-multimedia {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    grid-template-columns: 1fr 50%;
  }
}
@media (width < 458px) {
  html, body {
    width: 100%;
  }
  .redes-multimedia {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
