/* Tipografia y boton */
.links {
    a{
        position: relative;
        padding-bottom: 0.75rem;
        color: #fff;
        &:hover{
            width: 70%;
        }
        &::after{
            content: "";
            position: absolute;
            height: 2px;
            width: 0;
            bottom: 0;
            left: 0;
            background-color: #b4ab56;
            transition: all 0.3s ease;
    }
}    
} 

.btn{
padding: 1rem 2rem;
font-size: 1rem;
color: #fff;
background-color: #948c47;
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
&:hover{
    background: #4b500c;
}
}

/* Finalizado tipografia y boton */