.links a{
    position: relative;
    padding-bottom: 0.75rem;
    color: $color-blanco;

    &:hover{
        width: 70%;
    }
    &::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0;
        background-color:$color-amarillo;
        transition: all 0.3s ease;
    }
}